<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Question details</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{ question }}</h1>
  <p>
    This question was usefull?
  </p>
  <ion-row>
    <ion-col col-6>
      <button ion-button icon-left clear small (click)= "upVoteQuestion()">
        <ion-icon name="thumbs-up"></ion-icon>
        <!-- <div>{{question.positiveVotes}}</div> -->
        <div>5</div>
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button icon-left clear small (click)= "downVoteQuestion()">
        <ion-icon name="thumbs-down"></ion-icon>
        <!-- <div>{{question.negativeVotes}}</div> -->
        <div>1</div>
      </button>
    </ion-col>
  </ion-row>

  <div *ngIf="answers.length == 0">
    <h3>There are no answers to this question. Be the first one to answer!</h3>
  </div>

  <div *ngIf="answers.length > 0">
    <h3>We found 48 Answers for this question!</h3>
    <ion-card *ngFor="let answer of answers">
      <ion-row>
        <ion-col col-2>
          <ion-row>
            <ion-col col-12>
              <button ion-button icon-left clear small (click)= "addPositiveVote(answer)">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>{{answer.positiveVotes}}</div>
              </button>
            </ion-col>
            <ion-col col-12>
              <button ion-button icon-left clear small (click)= "addNegativeVote(answer)">
                <ion-icon name="thumbs-down"></ion-icon>
                <div>{{answer.negativeVotes}}</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-10>
          <p>{{ answer.answer }}</p>
          <ion-row>
            <ion-col col-12>
              <button ion-button small color="danger" (click)="delete(answer.id)">Delete</button>
              <!-- <button ion-button small color="dark" (click)="edit(answer)">Edit</button> -->
              <button ion-button small color="dark" (click)="editAnswerModal()">Edit</button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- <button ion-button block (click)="addAnswer()">Have an Answer? Don't be shy!</button> -->
    <button ion-button block (click)="createAnswerModal()">Have an Answer? Don't be shy!</button>
  </ion-toolbar>
</ion-footer>
