<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Learn Ionic 2</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Showing: {{ _query }} concepts</h2>

  <!-- Tenemos que poner los conceptos de Ionic con un  ngFor-->
  <!-- El click tiene que pasarle el 'slug' (ej: 'ionic-page') del concepto de Ionic como param => openDetails(concept.slug) -->
  <ion-card *ngFor="let item of categories" (click)="openDetails({ slug: 'ionic-page'})">
    <ion-card-header>
      {{item.title}}
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
      <ion-row>
        <ion-col>
          <ion-badge *ngFor="let tag of item.tags" item-right>{{tag.name}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
